<!-- <div class="createProjectForm">
    <h2>Create Project</h2>

    <label>Title of the project:</label>
    <input [(ngModel)]="title" placeholder="Enter title here">

    <br><br>

    <label>Emails of the students:</label>
    <textarea [(ngModel)]="membersText" placeholder="Enter student mail id's with comma seperation"></textarea>

    <br><br>

    <label>Description of the project:</label>
    <textarea [(ngModel)]="description" placeholder="Enter description here"></textarea>

    <br><br>

    <button (click)="create()">Create</button>
</div> -->

<div class="create-project-container">
    <h2>Create Project</h2>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="dataSource.title">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="dataSource.description">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Members (comma separated emails)</mat-label>
        <input matInput [(ngModel)]="dataSource.membersText">
    </mat-form-field>
    <div class="actions">
        <button mat-button class="secondary-button" (click)="close()">Cancel</button>
        <button mat-raised-button color="primary" (click)="create()">Create</button>
    </div>
</div>